:root{font-size: 10px;}

html,body{margin: 0;line-height: 1;box-sizing: border-box;overflow-x: hidden;}

/* default input,textarea */
input,textarea,fieldset{border: none;padding: 5px;background: #f4f4f4;display: block;}

/* default button */
button{button{border: none;cursor: pointer;padding: 15px 20px;font-weight: 300;text-transform: normal;text-align: center;}}
button:hover{opacity: .7;}

/* default margin,paddings */
h1,h2,h3,h4,h5,h6,ol,ul,blockquote,figure,p{margin: 0;padding: 0;}

a,input {outline: none;text-decoration: none;}

/* transitions */
input[type="button"],input[type="submit"],a,button {transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -webkit-transition: 0.2s ease-in-out; cursor: pointer;}
